.cartao {
    display: flex;
    width: 400px;
    height: 400px;
    color: #FFDCDC;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: #f1b48a;
    font-size: 2rem;
    font-weight: 600;
    padding: 20px;
    margin: 3px;
    justify-content: center;
    align-items: center;
}

.cartao h1 {
    font-size: 3.5rem;
    font-weight: 1000;
}

.cartao h2 {
    justify-content: baseline;
    font-size: 2rem;
    font-weight: 1000;
    color: #000;
}