.formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}
.botoes {
  display: flex;
  flex-direction: column;
  gap: 0rem;
  align-items: center;
}

.botoes button {
  padding: 0.75rem 1.5rem;
  font-size: 2rem;
  font-weight: 800;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s;
}

.botoes button:hover {
  transform: scale(1.05);
}
.imagem{
  width: 80%;
  height: 80%;
}