@import "tailwindcss";

:root {
  --background: #FFDCDC;
  --foreground: #FFE8CD;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FFDCDC;
    --foreground: #FFE8CD;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(/image/foto3.png);
}
* {
  box-sizing: border-box;
}
:root {
  --area-porta-altura: 310px;
  --area-porta-largura: 200px;
}
